#game_carousel {
  .carousel-inner {
    height: 0;
    padding-bottom: 50%;
  }

  .carousel-item {
    position: absolute !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    img {
      height: 100%;
      object-fit: cover;
    }
  }
}