.hrSect {
    display: flex;
    flex-basis: 100%;
    align-items: center;
    color: black;
    margin: 8px 0;
    font-size: 48px;

    &:before, &:after {
        content: "";
        flex-grow: 1;
        background: rgba(0, 0, 0, 0.35);
        height: 1px;
        font-size: 0;
        line-height: 0;
        margin: 0 20px;
    }
}